:root{
    margin: 0%;
    padding: 0%;
    letter-spacing: 2px;
 
}
body{
    height: 100%;
    background: #002848;
    margin: 0%;
}
#corpao{
    color: white;
    
    top: 220px;
    right: 15px;
    margin: 0% 35% 0% 35%;
    padding: 1% 0% 0% 0%;
    text-align: center;
    background-color:#004d25;
    letter-spacing: 1px;
    border-radius: 10px;
}
.container {
    
    margin: 0% 15% 0% 15%;
    padding: 1% 10% 0% 10%;
    letter-spacing: 1px;
    width: 60%;
  }
#header {
    margin:1% 5% 1% 0%;
    padding: 1% 0% 1% 1%;
    text-align: center;
}
h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
label, p, a{
    text-align: justify;
    letter-spacing: 1px;
    font-size: 100%;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    padding:5% 0% 5% 0% ;
    margin: 2%;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

a{
    color: #91f086;
    text-decoration: none;
    
}

label{
    padding:1% 0% 5% 0%;
    margin: 100% 0% 5% 0%;
}
a:hover {
    color:rgb(229, 149, 229);
    text-decoration: none;

}
hr {
    border: 1px solid #f1f1f1;
    margin:5% 0% 5% 0%;
    padding:0% 5% 0% 0%;
    width: 90%;
  }
#coluna {
    float: left;
    width: 33%;
    padding:0%;
    margin:0%;
}
.anuncios {
    border:solid #484848;
    padding-top:3px;
    padding-bottom:3px;
    margin:4px
   }
.row {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:0px;
    margin-left:0px;
}

.containerGeral {
 padding-right:0px;
 padding-left:0px;
 margin-right:auto;
 margin-left:auto;
 width:98%;
 min-height:100vh;
}

/* CSS auxiliar*/
.mt-1 {
    margin-top:.25rem!important
}
.mt-2{
 margin-top:.5rem!important
}
.mt-3 {
 margin-top:1rem!important
}
.mt-4 {
    margin-top:1.5rem!important
}

.px-1 {
    padding-right:.25rem!important;
    padding-left:.25rem!important;
}



/* CSS Propriedades axuliar col-home*/
div.col-home {
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:160px;
    border-right:1px solid #55ad33;
    margin:20px 0
}
.col-home{
 -webkit-box-flex:0;
 -ms-flex:0 0 20%;
 max-width:20%;
 flex:0 0 20%;
 position:relative;
 width:100%;
 min-height:1px;
 padding-right:15px;
 padding-left:15px;
}
div.row-home {
    width:100%;
    border-top:1px solid #55ad33
   }
div.col-home img {
    max-height:45px;
    width:auto;
}
div.col-home.b-none {
    border:none;
   }
div.col-home a {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    margin:18px 0;
    position:relative;
    color:#00ae1b;
    text-align:center;
    font-size:19px;
    font-weight:600;
    line-height:22px;
}
div.col-home  a:hover{
    background-color:  #ff8306;
    color: white;
    border-radius: 6px;
    
}
div.col-home  a.publicar.py-2:hover{
    background-color:  #002848;
    border-radius: 6px;
}
div.col-home  a.anuncios.py-2:hover{
    background-color:  #002848;
    border-radius: 6px;
}
/*CSS APENAS PARA DEIXAR OS BOTÕES UM AÇO*/
div.col-home .anuncios {
    background-color:#55ad33;
    color:#fff;
    border:none;
    border-radius: 6px;
}
div.col-home .publicar {
    background-color:#ff8306;
    color:#fff;
    border:none;
    border-radius: 6px;
}   


div.col-home.b-m-none {
    border:none!important
}
div.col-home.b-left {
    border-left:none!important
}
.hidden-mobile {
    display:none!important;
    visibility:hidden!important
}
.visible-mobile {
    display:none!important;
    visibility:hidden!important
}
.visible-mobile {
    display:inherit!important;
    visibility:visible!important
}
.hidden-mobile {
    display:block;
    visibility:visible!important
}

/* CSS para os icones PIKA */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-70 { font-size: 70px; }

/* CSS Formatação*/

.flex-column {
    -ms-flex-direction:column!important;
    flex-direction:column!important
}
.justify-content-start{
    -ms-flex-pack:start!important;
    justify-content:flex-start!important
}
.justify-content-end {
    -ms-flex-pack:end!important;
    justify-content:flex-end!important
}
.justify-content-center {
    -ms-flex-pack:center!important;
    justify-content:center!important
}
.justify-content-between {
    -ms-flex-pack:justify!important;
    justify-content:space-between!important
}
.align-items-center {
    -ms-flex-align:center!important;
    align-items:center!important
}
.align-self-center {
    -ms-flex-item-align:center!important;
    align-self:center!important
}
.position-relative {
     position:relative!important
}

@media screen and (max-width: 480px){
    #corpao{ 
        width: 95%;
        margin: 50% 1% 10% 1% ;
        padding:1% ;
    }
}
img.SUINO{
    width: 100%;  
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    
}
div.background{
    position: absolute;
    z-index: -1;
    height: auto;
    width: 100%;
    background-color: rgba(rgb(0,77,37) 0.4rem);
    opacity: 25%;
    object-fit: cover;
;
}
img.logo{  
    width: 13%;
    margin: 3% 0% 1% 43%;
}
h2.frase{
    margin: 8% 0% 5% 28%;
    font-size: 1.2em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}