 /* The Modal (background) */
 .modalterms {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-contents {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 85%; /* Could be more or less, depending on screen size */
  }
   
  /* The Close Button */
  .closer {
    position: absolute;
    border: none;
    margin: 0% 0% 0% 0%;
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;

  }
  .qualquercoisa{
    padding: 2%;
    margin: 2% 2% 2% 2%;
    border: 1px solid black;
    width: 92%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
  
  }

  .closer:hover,
  .closer:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
