body{
    margin: 0%;
    padding: none;
    letter-spacing: 3px;
}

#navPrincipal{
  text-decoration: none;
  background-color:#004f8f;
   
}
#menuMaior .canto input[type=text] {
  padding: 0.8% 50% 0.5% 1%;
  border: none;
  margin: 0% 0% 0% 0%;
  border-radius: 0px 5px;
}
#menuMaior a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 16.6%; 
  text-align: center; 
}
#menuMaior a:hover {
  background-color: #FF9F1C;
  border-radius: 0px 4px;
}
.canto{
  margin: 0% 0% 0% 0%;
  padding:1% 0% 1% 0%;
  display: flex;
  align-items: center;
}
#menuMenor{
  background-color: #55ad33;
  display:flex;
}
#menuMenor a:hover{
  background-color: #366e20;
}
#menuMenor ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menuMenor li{
  display:inline;
  float:left;
  margin: 0% 0% 0% 20%;
  padding: 0% 0% 0% 0%;
  color: white;
  
  font-size: 17px;
  text-align: center; 
}
#menuMenor a{
  float: left;
  display:block;
  text-decoration: none;
  color:white;
  padding: 5px 25px;
  
}
#menuMenor a:hover{
  color:black;
  
}
li:last-child{
  border-right: none;
}
 
img{
  width: 10%;
  padding: 0% 2% 0% 1%;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 20px;
  text-align: justify;
  padding: 0% 0% 1% 20%;

}
a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
@media(max-width:480px) {
  #navPrincipal{
    width:auto;
    
    display: block;
  }
  #menuMenor{
    display:none;
  }
  #menuMaior{
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 10%;
   }
  #menuMaior input[type="text"]{
    width: 10%;
    position: static;
  }
  .canto{
    font-size:10px; 
    text-align: center; 
  }
  }
/*
#navPrincipal{
  width:100%;
  min-height: 70px;
  margin: 0;
  padding: 2% 0% 3% 0%;
  background-color: #333; 
  text-decoration: none;
  float: left;
  display: block;
}
#menuMaior{
  display: flex;

  min-height: 80px;
  max-height: 189px;
  margin: 0;
  justify-content: center;
}
.canto{
  padding:0% 0% 0% 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.canto a{
  padding:1%;
  margin: 10%;
  text-decoration: none;
}

li {
    display:inline-block;
    border-bottom: 1px solid #bbb;
  }
li:last-child{
    border-right: none;
}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 
  li a:hover:not(.active) {
    background-color: #111;
  }*/