
.container {
  margin: 1% 15% 0% 15%;
  padding: 1% 10% 0% 10%;
  letter-spacing: 3px;
}

input[id=nome], input[id=cnpj], input[id=msgemail], input[id=senha], input[id=telefone], input[id=cpf] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[id=nome]:focus, input[id=cnpj]:focus, input[id=msgemail]:focus, input[id=senha]:focus, input[id=telefone]:focus, input[id=cpf]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #ffd300;
  color: white;
  padding: 16px 20px;
  margin: 1% 0% 1% 0%;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
  text-decoration: none;
}
a:hover{
  color:blueviolet;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
  padding: 1% 0% 1% 0%;
  margin: 0% 0% 0% 0%;
  
}
#corpao{
  margin: 15% 15% 0% 15%;
  padding: 1% 10% 0% 10%;
  text-align: center;
  background-color:#f1f1f1;
}